<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>User Sign Up</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body class="bg-secondary">
        <nav class="navbar navbar-dark bg-dark">
            <ul class=" text-primary d-inline-flex justify-content-between
             w-100">
              <li class="d-flex flex-grow-1"><a href="./forums.html">Forums</a></li>
              <li class="d-flex flex-grow-1"><a href="./faq.html">FAQ</a></li>
              <li class="d-flex flex-grow-1"><a href="./about.html">About</a></li>
              <li class="d-flex flex-grow-1"><a href="./support.html">Support</a></li>
              <li class="d-inline-flex pl-3 pr-3"><a href="./registerdistrict.html">Register District</a></li>
              <li class="d-inline-flex pl-3 pr-3"><a href="./signup.html">Sign Up</a></li>
            </ul>
    </nav>
        <div class="border border-dark  container w-50 h-100 mt-5 bg-dark rounded ">
            <div class="row h-100 justify-content-center align-items-center rounded">
            <h1 class="bg-primary w-100 text-center rounded-top">Login</h1>
            <form class="col-12" action="./forums.html" method = "post">
                <div class="form-group">
                <label class="text-primary">Username</label>
                <input class='bg-light form-control' type='text' name="username" minlength="3" maxlength="50"><br/>
                <label class="text-primary">Password</label>
                <input class='bg-light form-control' type='password' name="password" minlength="6" maxlength="50"><br/>
                <input type="submit" class=" h3 bg-primary font-weight-bold w-100 rounded" value="Log In">
                </div>
            </form>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </body>
</html>