<!DOCTYPE html>
<html lang="en-us">
    <head>
        <title>Register District</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body class="bg-secondary">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="./home">IT Forums</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link text-primary" href="./login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="./signup">Sign Up</a>
          </li>
           <li class="nav-item">
            <a class="nav-link text-secondary" href="./signup">Support</a>
          </li>
        </ul>
      </div>
    </nav>
        <div class="border border-dark  container w-25 h-100 mt-5 bg-dark rounded ">
            <div class="row h-100 justify-content-center align-items-center rounded">
            <h1 class="bg-primary w-100 text-center rounded-top">District Sign Up</h1>
            <form class="col-12" action="./registerdistrict" method = "post">
                <div class="form-group">
                <label class="text-primary">District Name</label>
                <input class='bg-light form-control' type='text' name="districtname" minlength="3" maxlength="50" required oninvalid="this.setCustomValidity('Enter the district name')"
    oninput="this.setCustomValidity('')"><br/>     
                <p class="text-warning">Please list the contact information for the IT Forum district Administrator</p>
                <label class="text-primary">First Name</label>
                <input class='bg-light form-control' type='text' name="firstname" minlength="3" maxlength="50" 
                required oninvalid="this.setCustomValidity('Enter your first name')" oninput="this.setCustomValidity('')"><br/>     
                <label class="text-primary">Last Name</label>
                <input class='bg-light form-control' type='text' name="lastname" minlength="3" maxlength="50"
                required oninvalid="this.setCustomValidity('Enter your last name')" oninput="this.setCustomValidity('')"><br/>     
                <label class="text-primary">Email</label>
                <input class='bg-light form-control' type='email' name="email" minlength="3" maxlength="50"
                required oninvalid="this.setCustomValidity('Enter your email address')" oninput="this.setCustomValidity('')"><br/>
                <p class="text-warning">Please provide the district email domain starting with "@". This is the domain the IT Forums system will 
                search for when looking for pending users.</p>
                <label class="text-primary" >Email Domain</label>
                <input class='bg-light form-control' placeholder="@district-email.com" type='text' name="emaildomain" minlength="3" maxlength="50"
                required oninvalid="this.setCustomValidity('Enter your email domain')" oninput="this.setCustomValidity('')"><br/>     
                <label class="text-primary">Username</label>
                <input class='bg-light form-control' type='text' name="username" minlength="3" maxlength="50"
                required oninvalid="this.setCustomValidity('Enter a username')" oninput="this.setCustomValidity('')"><br/>
                <label class="text-primary">Password</label>
                <input class='bg-light form-control' type='password' name="password" minlength="6" maxlength="50"
                required oninvalid="this.setCustomValidity('Enter a password')" oninput="this.setCustomValidity('')"><br/>
                <p class="text-warning">This account will be a standard user account until approved by IT Forum staff.
                Please see the <a href="./signup">support page</a> for more information</p>
                <input type="submit" class="btn btn-lg btn-outline-primary btn-block" value="Register">
                </div>
            </form>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </body>
</html>